services:
  db:
    image: postgres:latest
    container_name: url_shortner_db
    env_file:
      - ./BACKEND/.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql

volumes:
  db_data: